body {
    background-color: black;
}

.landing-frame {
    position: relative;
    left: 50%;
    height: 1920px;
    width: 1080px;
    font-size: 25pt;
    transform: translate(-50%, 0);
}

.landing-vid {
    position: absolute;
    height: 1920px;
    width: 1080px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.landing-dim {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.landing-log {
    position: absolute;
    width: 532px;
    height: 149px;

    left: 289px;
    top: 550px;
}

.color-h2-1 {
    position: absolute;
    color: white;
    font-family: "Rubik Mono One", monospace;
    font-weight: lighter;
    white-space: nowrap;
    letter-spacing: -3px;
    word-spacing: -28px;
    font-size: 43.5pt;

    left: 40.5px;
    top: 900px;
}

.color-h2-2 {
    position: absolute;
    color: #9CC2CA;
    font-family: "Rubik Mono One", monospace;
    font-weight: lighter;
    white-space: nowrap;
    letter-spacing: -1px;
    word-spacing: -25px;
    font-size: 43.5pt;

    left: 154.5px;
    top: 1060px;
}

.landing-frame p {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30pt;
    font-weight: 100;

    left: 50%;
    top: 1600px;
}