.selected-box {
  position: relative;
  top: 5px;
}

.selected::before {
  position: absolute;
  content: "";
  top: 0;
  left: 540px;
  width: 270px;
  height: 102px;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  z-index: 1;
}

.selected span {
  position: absolute;
  top: 26px;
  /* left: 603px; */
  left: 603px;
  z-index: 2;
}

.content-container {
  height: 1584px;
  position: relative;
  top: 335px;
  background-image: url("../images/product-bg-img.png");
}

.background-dim {
  width: 100%;
  height: 1584px;
  background-color: rgba(0, 0, 0, 0.4);
}

.highlight {
  font-size: 35px;
  font-weight: 700;
  color: #9ebbb8;
}

.description {
  font-size: 27px;
  font-weight: 100;
  line-height: 1.6em;
  color: #ffffff;
}

.content-1,
.content-2,
.content-3 {
  display: flex;
  flex-direction: column;
}

.content-1 {
  align-items: flex-end;
  position: absolute;
  top: 44px;
  left: 107px;
}

.content-1 img,
.content-2 img,
.content-3 img {
  margin-bottom: 23px;
}

.content-1 strong,
.content-2 strong,
.content-3 strong {
  margin-bottom: 12px;
}

.content-1 span {
  text-align: right;
}

.content-2 {
  position: absolute;
  top: 553px;
  left: 72px;
}

.content-2 strong,
.content-2 span {
  padding-left: 13px;
}

.content-3 {
  align-items: flex-end;
  position: absolute;
  top: 1073px;
  left: 99px;
}

.content-3 strong,
.content-3 span {
  padding-right: 13px;
}
