* {
  margin: 0;
  font-family: "Pretendard", "Spline Sans" !important;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.frame {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.container {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-color: rgb(76, 86, 83);
  overflow: hidden;
}

.home-btn {
  position: absolute;
  top: 97px;
  left: 57px;
  cursor: pointer;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 어두운 오버레이 효과 */
  z-index: 1;
}

.background {
  position: absolute;
  top: 335px;
  cursor: pointer;
}

.info_image_1 {
  position: absolute;
  top: 393px;
  left: 74px;
  cursor: pointer;
  z-index: 2;
}

.info_image_1_text {
  position: absolute;
  top: 784px;
  left: 85px;
  cursor: pointer;
  z-index: 2;
}

.info_image_2 {
  position: absolute;
  top: 1171px;
  left: 319px;
  cursor: pointer;
  z-index: 2;
}

.info_image_2_text {
  position: absolute;
  top: 1556px;
  left: 257px;
  cursor: pointer;
  z-index: 2;
}

.dim {
  width: 270px;
  height: 102px;
  background-color: rgba(0, 0, 0, 0.2);
}

.stroke {
  border-left: 1px solid rgba(183, 203, 198, 0.25);
}

.nav {
  display: flex;
  position: absolute;
  top: 233px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 102px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.selected-box {
  position: relative;
  top: 5px;
}

.selected::before {
  position: absolute;
  content: "";
  top: 0;
  left: -3px;
  width: 270px;
  height: 102px;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  z-index: 1;
}

.selected span {
  position: absolute;
  top: 26px;
  left: 84px;
  z-index: 2;
}
